* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*--------------------------------- globalClass */
.contentCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentSize {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.displaynone {
  display: none;
}
/* ----------------------------------------Header */
header {
  background-color: orange;
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  z-index: 10;
  position: absolute;
}

.navOrder {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
}
header img {
  width: 60px;
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoContainer {
  font-size: 32px;
}

.topContainer {
  margin-top: 64px;
  width: 100%;
  height: 400px; /* Feste Höhe des Containers */
  overflow: hidden;
  position: relative;
}

.topContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.address {
  width: 250px;
}
.iconContainer {
  width: 250px;
  display: flex;
  justify-content: flex-end;
}
/* --------------------------------------------main */
main {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 80px;
  font-family: arial;
  flex-direction: row;
  justify-content: center;
}
.mainContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
#basketShadow {
  width: 883px;
}
.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 85px;
  box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.13);
}

.menu a {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

.menu img {
  width: 40px;
  margin-right: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info div {
  display: flex;
  align-items: center;
}
.stars {
  display: flex;
  width: 100px;
  margin-left: 20px;
}
.infoIqon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoIqon div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoIqon img {
  width: 30px;
  height: 30px;
}
.infoIqon span {
  display: flex;
  font-size: 30px;
}
.i {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}
.heart {
  border: 1px solid #000000;
}
.dishesContainers {
  border: 1px solid #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes h3 {
  padding: 10px;
}

.cross,
.cross2 {
  display: flex;
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.cross2 {
  display: none;
}

.dishesContainers h5 {
  width: 70%;
  padding: 10px;
}

.basket {
  z-index: 2;
  position: fixed;
  background-color: white;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  right: 0px;
  top: 0;
  padding-top: 85px;
}
.headlineBasket {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basketItem {
  display: flex;
}
.basketDishes ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basketDishes li {
  padding: 10px;
  display: flex;
}
.dishesPieces {
  width: 38px;
  display: flex;
  justify-content: flex-end;
}
.dishesName {
  width: 130px;
}
.dishesPrice {
  width: 130px;
  display: flex;
  justify-content: flex-end;
}

.borderBasket {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.basket img {
  width: 16px;
}
.trashIcon{
  cursor: pointer;
}

.calculator {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.466);
  border-bottom: 1px solid rgba(0, 0, 0, 0.466);
  flex-direction: column;
}
.calculator li {
  display: flex;
  padding: 10px;
}
.calculator div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}



.myButton {
	background-color:#ffa600;
	border-radius:28px;
	border:1px solid #ffa600;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffa600;
}

/* ---------------------------------BurgerIcon */
#navIcon {
  width: 60px;
  height: 45px;
  position: relative;
  cursor: pointer;
  display: none;
}

#navIcon span {
  width: 100%;
  height: 9px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

span:nth-child(1) {
  top: 0px;
}

span:nth-child(2),
span:nth-child(3) {
  top: 18px;
}

span:nth-child(4) {
  top: 36px;
}

#navIcon.open span:nth-child(1),
#navIcon.open span:nth-child(4) {
  opacity: 0;
  width: 0;
}

#navIcon.open span:nth-child(2) {
  transform: rotate(45deg);
  top: 18px;
}

#navIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin: 20px;
}
.bar {
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}
/* ----------------------------------------footer */
footer {
  background-color: gray;
  z-index: 3;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer {
  justify-content: flex-start;
  padding: 10px;

}

footer a {
  color: white;
}


/*------------------------------------- Responsive */

@media only screen and (max-width: 900px) {
  #navIcon {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .address {
    display: none;
  }
  .iconContainer {
    display: none;
  }
  .cross {
    display: none;
  }
  .cross2 {
    display: flex;
  }
  .menu img {
    margin: 0;
    width: 20px;
  }
  .basket {
    display: none;
  }

  #basketShadow {
    display: none;
  }
}

@media only screen and (max-width: 461px) {
  .stars {
    display: none;
  }
  .infoIqon div {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
.basketDishes ul{
  flex-direction: column;

}
.dishesPrice , .dishesPieces,.dishesName{
  width: auto;
}
}