
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /*--------------------------------- globalClass */
  .contentCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contentSize {
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 100px;
  }
/* ----------------------------------------Header */
header {
    background-color: orange;
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  }
  
  .navOrder {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
   
  }
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  header img {
    width: 60px;
    display: flex;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logoContainer{
    font-size: 32px;
  }
/* --------------------------------------------main */
  main {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 80px;
    font-family: arial;
    flex-direction: column;
  }
  .menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 99px;
   box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.13);
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
  }
  
  .menu img {
    width: 40px;
    margin-right: 20px;
  }
  .topContainer{
    width: 100%;
   
    height: 200px; /* Feste Höhe des Containers */
    overflow: hidden;
    position: relative;
    
  }

  .topContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;


  }

/* ---------------------------------BurgerIcon */
  #navIcon{
    width: 60px;
    height: 45px;
    position: relative;
    cursor: pointer;
    display: none;
  }
  
  #navIcon span {
    width: 100%;
    height: 9px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  
  span:nth-child(1) {
    top: 0px;
  }
  
  span:nth-child(2),
  span:nth-child(3) {
    top: 18px;
  }
  
  span:nth-child(4) {
    top: 36px;
  }
  
  #navIcon.open span:nth-child(1),
  #navIcon.open span:nth-child(4) {
    opacity: 0;
    width: 0;
  }
  
  #navIcon.open span:nth-child(2) {
    transform: rotate(45deg);
    top: 18px;
  }
  
  #navIcon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin: 20px;
}
.bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}
  /* ----------------------------------------footer */
footer {
    background-color: gray;
  }
  
  .footerContainer {
    justify-content: flex-start;
  }
  
  footer a {
    color: white;
  }
  
  .heartToogle {
    display: none;
  }
  /*------------------------------------- Responsive */
  @media only screen and (max-width: 1024px) {
    #profileContainer {
      display: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .navOrder ul {
      display: none;
    }
    .contentSize {
      padding: 20px 30px;
    }
    #navIcon {
      display: block;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .navOrder {
      font-size: 30px;
    }
    textarea {
      font-size: 14px;
    }
    .contentSize {
      padding: 10px;
    }
    .menu {
      margin-top: 73px;
    }
    .interactionSection button {
      font-size: 14px;
      padding: 5px;
    }
  }
  